page-booking-list {
    ion-card-title {
        color: white!important;
    }
    #app-content1 {
        background: rgb(30, 30, 30)!important;
        color: white!important;
    }
    ion-card {
        background: rgb(30, 30, 30)!important;
    }
    ion-card img {
        width: auto;
        height: auto;
        /* height: 500px; */
    }
}