page-pass {
    ion-card-content {
        ion-row {
            ion-col {
                color: white!important;
            }
        }
    }
    ion-card img {
        width: auto;
        height: auto;
        height: 380px;
    }
    #app-content1 {
        background: rgb(30, 30, 30)!important;
        color: white!important;
    }
}