page-favourite-list {
    button {
        background: rgb(30, 30, 30)!important;
    }
}

#price {
    margin: 9px 8px -15px 0;
    font-size: 10px;
    color: #ffffff;
}

#pcustom {
    color: #ffffff;
}

.app-content1 {
    background: rgb(30, 30, 30)!important;
}